# Environment Variables
.env

# Build Artifacts
dist/
build/
*.egg-info/
*.whl
*.tar.gz
*.zip

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd
test_env/
nbtest.ipynb

# IDE and Editor Specific Files
.vscode/
.idea/
*.swp

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Caches
.mypy_cache/
.ruff_cache/
.pytest_cache/
.DS_Store

# Temp files
temp.ipynb
src/adcortex/direct_client.py
test.ipynb
